.signup-bar {
  background: linear-gradient(90deg, #af2896, #509bf5);
  width: 100%;
  left: 0;
  bottom: 0;
}
.wrapH1 {
  width: 324px;
}

.signupInput {
  background-image: none;
  font-size: 1rem;
  font-weight: 400;
  transition: box-shadow 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s;
  box-sizing: border-box;
  margin-block: 0px;
  background-color: black;
  inline-size: 100%;
  box-shadow: inset 0 0 0 1px #878a8c;
  padding: 16px 12px 16px 12px;
  color: white;
}
.buttonSignup {
  background-color: #1ed760;
  border: 0px;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  transition: box-shadow 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s;
  box-shadow: inset 0 0 0 1px #878a8c;
  inline-size: 100%;
  box-sizing: border-box;
  padding: 12px 8px 12px 8px;
  border-radius: 9999px;
  margin-top: 32px;
}
.buttonGoogle,
.buttonApple,
.buttonFacebook {
  box-sizing: border-box;
  /* -webkit-tap-highlight-color: transparent; */
  font-size: 1rem;
  font-weight: 700;
  color: white;
  /* font-family: var(--font-family, CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif)); */
  background-color: black;
  border-radius: 9999px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transform: translate3d(0px, 0px, 0px);

  position: relative;

  display: inline-flex;

  align-items: center;

  justify-content: center;
  inline-size: 100%;
  justify-content: space-around;
  border: 0.5px solid #878787;
  border-radius: 25px;
  padding: 7px 32px 7px 0px;
}

.spanStep1 {
  font-weight: 400;
  font-size: 13.8px;
}

.footerSignup {
  padding: 24px;
  color: #a7a79e;
  font-size: 0.75rem;
  font-weight: 400;
  /* margin-top: 21%; */
  text-align: center;
}

.colorChung {
  color: #a7a7a7;
}
.react-datepicker-wrapper {
  width: 100% !important;
}
.react-datepicker-wrapper input {
  width: 100% !important;
  background-image: none;
  border: 0px;
  font-size: 1rem;
  font-weight: 400;
  transition: box-shadow 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s;
  box-sizing: border-box;
  margin-block: 0px;
  background-color: black;
  inline-size: 100%;
  box-shadow: inset 0 0 0 1px #878a8c;
  padding: 16px 12px 16px 12px;
  color: white;
  margin-top: 8px;
}
.backgroundCheck {
  color: #1ed760;
}
.paddingLabel {
  padding: 4px 24px 4px 12px;
}
.wraptienTrinh {
  background-color: #727272;
  block-size: 2px;
}
.tienTrinh3333 {
  inline-size: 33.3333%;
  transition: inline-size 200ms ease 0s;
  background-color: #1ed760;
  block-size: 2px;
}

.tienTrinh6666 {
  inline-size: 66.6666%;
  transition: inline-size 200ms ease 0s;
  background-color: #1ed760;
  block-size: 2px;
}
.tienTrinh100 {
  inline-size: 100%;
  transition: inline-size 200ms ease 0s;
  background-color: #1ed760;
  block-size: 2px;
}
.error {
  box-shadow: inset 0 0 0 1px #e91429 !important;
  color: #f15e6c;
}

.backgroundCheckBox {
  background-color: #ffffff12;
  padding: 16px 0px 16px 16px;
  border-radius: 5px;
}

.buttonGoogle:hover,
.buttonApple:hover,
.buttonFacebook:hover {
  border: 1px solid #fff;
}
