@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --secondary_bg: #121212;
  --tertiary_bg: #242424;
  --card_bg: #1e1e1e;
}

body {
  background: black;
}